<html>

<head>
    <title>Home</title>
    <style>
        a.disabled {
            pointer-events: none;
            cursor: default;
        }
    </style>
</head>

<body>
    <h1>Guess The Alphabet</h1>
    <p>This game has three levels . If you clear all the levels in a single try you win the game. for going to level2 , you have to complete level1 in a single try . Similarly, for going to level3 , you have to complete level2 in a single try . You have
        to guess only single instance of the asked alphabet correctly .
    </p>
    <a href="/level1">Play the game</a>
</body>

</html>